<!DOCTYPE html>
<html>
<head>
  <title>BaseApp</title>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <!--[if lt IE 9]-->
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag '//maps.google.com/maps/api/js?v=3.13&libraries=geometry&sensor=false' %>

</head>
<body class="tooltips full-content">

<div class="container">
  <%= yield %>
</div>

<%= javascript_include_tag 'application' %>

</body>
</html>
